/* Styles for dark */
.page.theme_dark {
  --page-background-image: url("../images/cover-image-dark.png");
  --page-background-color: var(--color-black-1, #000028);
  --text-color: var(--color-pink-2, #f1b2ce);
  --secondary-color: var(--color-purple-2, #ff0070);
  --secondary-color-o-40: var(--color-purple-2-o-40, #ff007040);
  --accent-color: var(--color-purple-2, #ff0070);
  --highlight-color: var(--color-black-1, #000028);
  --brand-color: var(--color-purple-1, #db00ff);
  --decor-rec-visibility: visible;
}